<div class="card text-white-transparent-7 mb-3 overflow-hidden">
    <div class="card-body position-relative">
        <div class="d-flex mb-3">
            <div class="flex-grow-1">
                <h5 style="color: #000" class="mb-1">Şirketler</h5>
            </div>
            <button (click)="onCreate()" class="btn btn-secondary"><i class="plus icon"></i>Yeni Şirket</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Logo</th>
                    <th scope="col">İsim Tr</th>
                    <th scope="col">Başlangıc Tarihi</th>
                    <th scope="col">Bitiş Tarihi</th>
                    <th scope="col">Devam Ediyor mu?</th>
                    <th scope="col">Toplam Gün</th>

                    <th scope="col">Düzenle</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companies">
                    <td><img class="img-thumbnail" *ngIf="company.LOGO" style="width: 45px; height: 45px;"
                            [src]="company.LOGO" alt=""> <p *ngIf="!company.LOGO">-</p></td>
                    <td>{{company.NAME_TR}}</td>
                    <td>{{company.START_DATE | date:'dd/MM/yyyy'}}</td>
                    <td>{{company.END_DATE | date:'dd/MM/yyyy' | checkOnGoing: company.ON_GOING}}</td>
                    <td>{{company.ON_GOING | boolConverter}}</td>
                    <td>{{company.TOTAL_DAY}}</td>
                    <td width=100><button (click)="onEdit(company)" class="btn btn-primary"><i
                                class="edit icon"></i>Düzenle</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>