<div class="container">
    <div class="card text-white-transparent-7 mb-3 overflow-hidden">
        <div class="card-body position-relative">
            <div class="d-flex mb-3">
                <div class="flex-grow-1">
                    <h5 style="color: #000" class="mb-1">{{operation}}</h5>
                </div>
            </div>
            <form [formGroup]="countryFormGroup">
                <div class="form-group">
                    <label for="exampleInputEmail1">Ülke TR</label>
                    <input formControlName="COUNTRY_TR" type="text" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Ülke EN</label>
                    <input formControlName="COUNTRY_EN" type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <br>
                <div *ngIf="message" class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                <div class="form-group">
                    <button type="submit" style="width: auto;" (click)="onSubmit()" class="btn btn-primary form-control"><i class="save outline icon"></i>Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>