<div class="card text-white-transparent-7 mb-3 overflow-hidden">
    <div class="card-body position-relative">
        <div class="d-flex mb-3">
            <div class="flex-grow-1">
                <h5 style="color: #000" class="mb-1">Referanslar</h5>
            </div>
            <button (click)="onCreate()" class="btn btn-secondary"><i class="plus icon"></i>Yeni Referans</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Sıra</th>
                    <th scope="col">İsim Tr</th>
                    <th scope="col">Başlık Tr</th>
                    <th scope="col">Link Tarihi</th>
                    <th scope="col">Düzenle</th>
                    <th scope="col">Sil</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let referance of referances">
                    <td>{{referance.SORT}}</td>
                    <td>{{referance.NAME_TR}}</td>
                    <td>{{referance.TITLE_TR}}</td>
                    <td>{{referance.LINK}}</td>
                    <td width=100><button (click)="onEdit(referance)" class="btn btn-primary"><i
                                class="edit icon"></i>Düzenle</button></td>
                    <td width=100><button (click)="onDelete(referance)" class="btn btn-danger"><i
                                class="trash icon"></i>Sil</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>