/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 320px;
}

.ck-editor__editable_inline {
    min-height: 320px;
}

.mat-dialog-container {
    padding: none;
    background-color: transparent;
}