<div class="card">
    <ul class="nav nav-tabs pt-3 ps-4 pe-4">
        <li class="nav-item me-1"><a href="#homeWithCard" class="nav-link active" data-bs-toggle="tab">Ülkeler</a></li>
        <li class="nav-item me-1"><a href="#profileWithCard" class="nav-link " data-bs-toggle="tab">Şehirler</a></li>
    </ul>
    <div class="tab-content p-4">
        <div class="tab-pane fade   show active" id="homeWithCard">
            <app-country-list></app-country-list>
        </div>
        <div class="tab-pane fade" id="profileWithCard">
            <app-city-list></app-city-list>
        </div>

    </div>
</div>